<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wellcome to Mais Dinheiro!!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<script src="https://kit.fontawesome.com/73da13183d.js"></script>

<body>
    <h1>
        Save your money! <i class="fas fa-money-check-alt"></i> 
        </h1>
</body>

</html>