<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wellcome to Mais Dinheiro!!</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

  {{{body}}}

  <script src="https://kit.fontawesome.com/73da13183d.js"></script>
</body>
</html>