<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wellcome to Mais Dinheiro!!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="dist/css/main.css">
</head>


<body>
  <header>
    <ul class="color-yellow">
      <li id="title"><a href="/">Mais Dinheiro</a></li>
      <li><a href="#">About Us </a></li>
      <li><a href="#">How it works </a></li>
      <li><a href="/login">Login </a></li>
      <li><a href="/signup">Sign Up </a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </header>

  <div class="container">
    {{{body}}}
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>