/*-------- IMPORTS BOOTSTRAP -------*/
@import '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';


/*------------ IMPORT FONT ------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);


/*------------ VARIABLES ------------*/
$primary-color-0: #ffaa00;
$second-color-0: #8c887e;
$muted-color: mix(white, $primary-color-0, 70%);
$width: 320px;

/*------------ COLORS ------------*/
.primary-color{ color: $primary-color-0 }
.second-color{ color: $second-color-0 }
.white-color{ color: white }


/*---------- BACKGROUND ----------*/
.bg-grey{ background-color: $second-color-0; }
.bg-yellow{ background-color: $primary-color-0; }


/*---------- GENERAL ----------*/
* {
  font-family: 'Source Sans Pro', sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 80px 0 0 0;
}

header {
    overflow: hidden;
    position: fixed;
    background-color: $second-color-0;
    width: 100%;
    height: 60px;
    top: 0px;
}

header li a{
    color: $primary-color-0;
    text-decoration: none;
}

header li a:hover {
    font-size: 25px;
    transition: 0.4s;
}


ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    justify-content: flex-end; 
    margin: 0px;
}

li {
    margin: 20px;
}

td {
  color: $second-color-0;
}

#title {
    margin-right: auto;
}

.group {
    position: relative;
    margin: 30px 0;

    @mixin input-placeholder{
      ::-webkit-input-placeholder {@content;}
      :-moz-placeholder           {@content;}
      ::-moz-placeholder          {@content;}
      :-ms-input-placeholder      {@content;} 
    }

    @include input-placeholder {
      color: transparent;
      opacity: 0;
      transition: inherit;
    }
}

.txt-center {
  text-align: center;
}

.div-center {
  margin: auto;
}

/*---------- HEADINGS ----------*/
h1 {
  text-align: center;
  color: $primary-color-0;
}

h2 {
  text-align: center;
  color: $primary-color-0
}


/*---------- INPUTS ----------*/
%label-movement {
  font-size: 15px;
  top: -17px;
}

%label-movement-colored {
  font-size: 15px;
  top: -17px;
  color: $primary-color-0;
}

label{
  position: absolute;
  top: 0;
  color: $second-color-0;
  transition: 300ms ease all;
}

input,
textarea {
  display: block;
  border: none;
  border-bottom: 1px solid $second-color-0;
  padding: 5px;
  background-color: transparent;

  &:not(:placeholder-shown) + label{
    @extend %label-movement;
    outline: none;
  }
  &:focus + label {
    @extend %label-movement-colored;
    outline: none;
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

}

.label-upside {
  @extend %label-movement;
  outline: none; 
}

:focus {
  outline: none;
}



/*------ LINE UNDER INPUTS -------*/
.effect ~ .line{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: $primary-color-0; 
  transition: 0.4s;
}

.effect:focus ~ .line, .has-content.effect ~ .line {
  width: 140px; 
  transition: 0.4s;
}


/*---------- SELECT ----------*/
select {
  border: none;
  border-bottom: 1px solid $second-color-0;
}

/*---------- CARD ----------*/
.card {
  width: 30rem;
}


/*---------- IMAGE ----------*/
.img-about-us {
  max-width: 100%;
  height: auto;
}

/*---------- TABLE ----------*/
thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}

table, th, td {
  border: 1px solid black;
}