<div class="container">
    <div class="row align-items-center justify-content-center">
        <div>
            <h1>Money management simplified.</h1>
            <p>Take control of your money. Manage all your expenses. Everything seamlessly in one place.</p>
        </div>
    </div>
    <div>
        <h2>How it works</h2>
    </div>
    <div>
        <h2>About Us</h2>
    </div>
    <div>
        Contact
    </div>
</div>