<div class="container landing-container">
    <div class="row align-items-center justify-content-center">
        <div class="landing d-flex align-items-center">
            <div>
                <h1>Money Management Simplified.</h1>
                <p>Everything you need to take control of your money seamlessly in one place.</p>
            </div>
            <div>
                <img src="https://colorlib.com/preview/theme/landerz/images/landing_1.png" alt="landing">
            </div>
        </div>
    </div>
    <div id="features" class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mb-3">Features</h2>
            </div>
        </div>
        <div>
            <div data-aos="fade-right" class="d-flex">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="d-block">
                        <div class="row">
                            <div class="col-lg">
                                <img class="img-features" src="https://image.flaticon.com/icons/svg/189/189093.svg" alt="income">
                            </div>
                            <div class="col-lg">
                                <h3>Manage your incomes</h3>
                                <p>
                                    An easy way to register and categorize your hard-earned money.
                                    A visual breakdown of when and how you get your paychecks.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="d-flex flex-row-reverse">
                <div class="align-self-end col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="d-block">
                        <div class="txt-right">
                            <h3>Expense control</h3>
                            <p>
                                Our charts will help you see where you can cut costs and improve your financial situation.
                                Save money for your next big adventure.
                            </p>
                            <img class="img-features" src="https://image.flaticon.com/icons/svg/962/962631.svg" alt="expense">
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-right" class="d-flex">
                <div class="align-self-start col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="d-block">
                        <div>
                            <h3>Visualize your monthly balance</h3>
                            <p>
                                Moneyful shows you how much money you saved and how much you can spend. No more surprises at the end of the month.
                            </p>
                            <img class="img-features" src="https://image.flaticon.com/icons/svg/1162/1162481.svg" alt="balance">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about-us">
        <h2>About us</h2>
        <div class="row align-items-center justify-content-around">
            <div class="card">
                <img class="img-about-us" src="https://specials-images.forbesimg.com/imageserve/5d1573f34c687b00085b1145/960x0.jpg?fit=scale" alt="about-us-img">
                <div class="card-body">
                    <h5 class="card-title txt-center">Adriana Saty</h5>
                    <p class="card-text txt-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img class="img-about-us" src="https://specials-images.forbesimg.com/imageserve/5d1573f34c687b00085b1145/960x0.jpg?fit=scale" alt="about-us-img">
                <div class="card-body">
                    <h5 class="card-title txt-center">Fernando Yto</h5>
                    <p class="card-text txt-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                
            </div>
        </div>
    </div>
    <div id="about-project">
        <h2>About this project</h2>
        <p>Morbi at feugiat lectus. Sed sit amet quam sit amet leo consequat porta ac in elit. Proin elementum urna massa, eu pulvinar nisi aliquam eget. Phasellus eu sapien gravida lectus pellentesque efficitur. Fusce bibendum, ipsum eu posuere mattis, risus metus ultricies tellus, sit amet lobortis metus tellus a dolor. Etiam aliquam urna nec laoreet volutpat. Praesent dolor ex, rhoncus in urna sit amet, dignissim hendrerit lectus. Nulla nisl justo, fringilla eget orci nec, egestas finibus risus. Aliquam at mauris vel metus imperdiet posuere nec nec nulla. Fusce lacinia non nunc et laoreet. Proin sodales quis sem sit amet fringilla. Proin id augue non est pharetra dictum ac a nibh. Pellentesque nec est et metus molestie bibendum efficitur id enim. Aliquam accumsan viverra volutpat.</p>
    </div>
</div>