<div class="container">
    <div class="row align-items-center justify-content-center">
        <div>
            <h1>Money management simplified.</h1>
            <p>Take control of your money. Manage all your expenses. Everything seamlessly in one place.</p>
        </div>
    </div>
    <div>
        <h2>How it works</h2>
    </div>
    <div>
        <h2>About us</h2>
        <div class="row align-items-center justify-content-around">
            <div class="card">
                <img class="img-about-us" src="https://specials-images.forbesimg.com/imageserve/5d1573f34c687b00085b1145/960x0.jpg?fit=scale" alt="about-us-img">
                <div class="card-body">
                    <h5 class="card-title txt-center">Adriana Saty</h5>
                    <p class="card-text txt-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card">
                <img class="img-about-us" src="https://specials-images.forbesimg.com/imageserve/5d1573f34c687b00085b1145/960x0.jpg?fit=scale" alt="about-us-img">
                <div class="card-body">
                    <h5 class="card-title txt-center">Fernando Yto</h5>
                    <p class="card-text txt-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                
            </div>
        </div>
    </div>
    <div>
        <h2>About this project</h2>
    </div>
</div>