<h1>Login Page</h1>

<div>
  <form action="/login" method="post">
    {{!-- <input type="text" name="email" placeholder="Email" required> --}}
    <div class="group">
      <input type="text" name="email" placeholder="placeholder" required>
      <label>Email</label>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>

    <div class="group">
      <input type="password" name="password" placeholder="placeholder" required>
      <label>Password</label>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>


    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
    <button type="submit">Login</button>
  </form>
</div>