<h1 class="pt-5">Login</h1>
<div class="d-flex justify-content-center">
  <div>
  <form action="/login" method="post">
    {{!-- <input type="text" name="email" placeholder="Email" required> --}}
    <div class="group">
      <input class="effect"  type="text" name="email" placeholder="placeholder" required>
      <label>Email</label>
      <span class="line"></span>
    </div>

    <div class="group">
      <input class="effect" type="password" name="password" placeholder="placeholder" required>
      <label>Password</label>
      <span class="line"></span>
    </div>


    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
    <button type="submit">Login</button>
  </form>

  <p class="second-color mt-3 txt-center">
    Don't have an account? <br>
    Go to your <a class="second-color" href="/signup">Sign up Page!</a> 
  </p>
</div>