<div>
    <h1>Sign up</h1>

    <form action="/signup" method="POST">
        <div class="group">
            <input type="text" name="firstName" placeholder="placeholder" required>        
            <label>First Name</label>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>

        <div class="group">
            <input type="text" name="lastName" placeholder="placeholder" required>
            <label>Last Name</label>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>
        
        <div class="group">
            <input type="email" name="email" placeholder="placeholder" required>
            <label>Email</label>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>

        <div class="group">
            <input type="password" name="password" placeholder="placeholder" required>
            <label>Password</label>
            <span class="highlight"></span>
            <span class="bar"></span>
        </div>

        {{#if errorMessage}}
            <p>{{errorMessage}}</p>
        {{/if}}

        <button class="crazy-button" type="submit">Sign up Now!</button>
    </form>
</div>